@doxa-font-size-base: 13px;

// Colors
@doxa-brand-primary: #2C2E83;
@doxa-brand-optional: @doxa-brand-primary;
@doxa-brand-secondary: #f0eeee;
@doxa-brand-lightsecondary: #e2e2e0;

@doxa-color-pink: #875A7B;
@doxa-main-text-color: #555555;
@doxa-main-color-muted: #a8a8a8;

@doxa-view-background-color: white;
@doxa-shadow-color: #303030;

@doxa-webclient-background-color:  #F0EEEE;
@doxa-control-panel-background-color: @doxa-webclient-background-color;
@doxa-form-lightsecondary: #ccc;
@doxa-list-grey: @doxa-brand-lightsecondary; // FIXME: listview thead background color

@doxa-list-footer-color: @doxa-main-text-color;
@doxa-list-footer-bg-color: #eee;
@doxa-list-footer-font-weight: bold;

@doxa-tooltip-background-color: black;
@doxa-tooltip-color: white;
@doxa-tooltip-arrow-color: black;

// Layout
@screen-xs-min: 475px;
@screen-xxs-max: (@screen-xs-min - 1);

@doxa-form-group-cols: 12;
@doxa-form-spacing-unit: 5px;
@doxa-horizontal-padding: 16px;
@doxa-innergroup-rpadding: 45px;
@doxa-dropdown-hpadding: 25px;

@border-radius-base: 3px;

@doxa-sheet-vpadding: 24px;

@doxa-avatar-size: 90px;

@doxa-statusbar-height: 36px;
@doxa-statusbar-arrow-width: @doxa-statusbar-height/3;

@doxa-label-font-size-factor: 0.8;
@doxa-navbar-height: 34px;
@doxa-navbar-inverse-link-hover-bg: darken(@doxa-brand-primary, 10%);

